<%- include("partials/header") %>
<div class="blogposts">
<h2>All Posts</h2>
<ul>
  <% posts.forEach(post => { %>
    
      <a href="/posts/<%= post.id %>"><%= post.title %></a>
      <p><%= post.content.slice(0, 100) %>...</p>
    
  <% }) %>
</ul>
</div>
<%- include("partials/footer") %>
