<%- include("partials/header") %>

<h2>All Posts</h2>
<ul>
  <% posts.forEach(post => { %>
    <li>
      <a href="/posts/<%= post.id %>"><%= post.title %></a>
      <p><%= post.content.slice(0, 100) %>...</p>
    </li>
  <% }) %>
</ul>

<%- include("partials/footer") %>
